.message {
    height: 50px;
    min-width: 150px;
    max-width: 80%;
    background-color: white;
    margin: 10px 0px;
    border-radius: 10px;

    &.sended{
        align-self: flex-end;
    }

    &.recived {
        align-self: flex-start;
    }
}